
@{
    ViewBag.Title = "Index";
}

<h2>CRUD OPEARATION</h2>
<p>1. CRUD operations for Category and Product.All the methods should be ASYNC.</p>
<p>2. Use Entity framework code first approach.</p>
<p>3. Deactivate a category, when a category is deactivated all the related products should be</p>
   <p>deactivated and vice should happen when activated.</p>
<p>4. Category and Products list should be shown using server side paging.</p>
<p>(Make sure at a time only page size records are pulled from DB, we will specially ask questions on this)</p>



